@model TruckRegistration.Web.ViewModels.TruckViewModel

@{
    ViewData["Title"] = "Details";
}
<h1>Details</h1>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <hr />
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.NameTruck)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NameTruck)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Model.ModelDescription)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Model.ModelDescription)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.YearManufacture)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.YearManufacture)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.YearModel)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.YearModel)
            </dd>
        </dl>
        <div>
            @Html.ActionLink("Index", "Index")
        </div>
    </div>
    <div class="col-md-4"></div>
</div>

